module {{.ModulePath}}

go 1.26.1

require (
	connectrpc.com/connect v1.19.1
	github.com/ThreeDotsLabs/watermill v1.5.1
	github.com/google/uuid v1.6.0
	github.com/jackc/pgx/v5 v5.9.1
	{{.ContractsPath}} v0.0.0
	github.com/piprim/mmw v0.0.0
	github.com/rotisserie/eris v0.5.4
	github.com/stretchr/testify v1.11.1
	golang.org/x/sync v0.20.0
)
