syntax = "proto3";
package {{.Name}}.v1;
option go_package = "{{.ContractsPath}}/gen/go/{{.Name}}/v1;{{.Name}}v1";

// {{.NameTitle}}Service defines the RPC API for the {{.Name}} module.
service {{.NameTitle}}Service {
  // TODO: add RPCs
}
